log/*
vendor/*
!.gitignore
!.htaccess

.env
config.local.neon
docker-compose.override.yml

/.idea
/.vscode
.history

www/copy_assets_check
www/layouts/application
www/layouts/mailer
www/layouts/admin/dist/*
www/layouts/admin/scenariobuilder
www/layouts/admin/segmenter
www/layouts/admin/vendors/trumbowyg
www/layouts/products/dist/*

.DS_Store
Thumbs.db
