includes:
	- vendor/spaze/phpstan-disallowed-calls/extension.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon

parameters:
	bootstrapFiles: [.phpstan.bootstrap.php]

	ignoreErrors:
		-
			message: '#Calling exec\(\) is forbidden, because reasons#'
			path: 'vendor/remp/crm-issues-module/src/Commands/PdfConverterCommand.php'
		- '#in empty\(\) always exists and is not falsy.#'