version: "3"

services:
  nginx:
    image: "nginx:stable"
    healthcheck:
      test: [ "CMD-SHELL", "service nginx status || exit 1" ]
      timeout: 2s
      retries: 20
      interval: 2s
    volumes:
      - ".:/var/www/html:rw"
      - "./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro"
    restart: "unless-stopped"
    networks:
      default:
        aliases:
          - "crm.press"

  crm:
    user: "${UID:-1000}:${GID:-1000}"
    build:
      context: "docker/php"
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        UNAME: ${UNAME:-docker}
    extra_hosts:
      - "docker:192.168.99.100"
    volumes:
      - ".:/var/www/html:rw"
    depends_on:
      nginx:
        condition: service_healthy
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: "unless-stopped"

  adminer:
    user: "${UID:-1000}:${GID:-1000}"
    build:
      context: "docker/php"
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        UNAME: ${UNAME:-docker}
    volumes:
      - ".:/var/www/html:rw"
    depends_on:
      - "nginx"
      - "mysql"
    restart: "unless-stopped"

  mysql:
    image: "mysql:8.0"
    volumes:
      - "mysql-data:/var/lib/mysql"
      - ".:/data"
    command:
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_unicode_ci"
      - "--skip-character-set-client-handshake"
      - "--explicit_defaults_for_timestamp"
      - "--default-authentication-plugin=caching_sha2_password"
    healthcheck:
      test: [ "CMD", "mysqladmin" , "ping", "-h", "localhost" ]
      timeout: 2s
      retries: 20
      interval: 2s
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "no"
      MYSQL_ROOT_PASSWORD: "secret"
      MYSQL_DATABASE: "crm"
    restart: "unless-stopped"

  redis:
    image: "redis:6.2"
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      timeout: 2s
      retries: 20
      interval: 2s
    volumes:
      - "redis-data:/data"
    restart: "unless-stopped"

volumes:
  mysql-data:
    driver: local
  redis-data:
    driver: local

networks:
  default:
