version: "3"

services:
  nginx:
    image: "nginx:stable"
    volumes:
      - ".:/var/www/html:rw"
      - "./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro"
    restart: "unless-stopped"
    networks:
      default:
        aliases:
          - "crm.press"

  crm:
    build: "docker/php"
    extra_hosts:
      - "docker:192.168.99.100"
    volumes:
      - ".:/var/www/html:rw"
    depends_on:
      - "nginx"
      - "mysql"
      - "redis"
    restart: "unless-stopped"

  adminer:
    build: "docker/php"
    volumes:
      - ".:/var/www/html:rw"
    depends_on:
      - "nginx"
      - "mysql"
    restart: "unless-stopped"

  mysql:
    image: "mysql:8.0"
    volumes:
      - "mysql-data:/var/lib/mysql"
      - ".:/data"
    command:
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_unicode_ci"
      - "--skip-character-set-client-handshake"
      - "--explicit_defaults_for_timestamp"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "no"
      MYSQL_ROOT_PASSWORD: "secret"
      MYSQL_DATABASE: "crm"
    restart: "unless-stopped"

  redis:
    image: "redis:3.2"
    volumes:
      - "redis-data:/data"
    restart: "unless-stopped"

volumes:
  mysql-data:
    driver: local
  redis-data:
    driver: local

networks:
  default:
