#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	errbit:
		send_errors: false

	redis:
		host: @environmentConfig::get('CRM_REDIS_HOST')
		port: @environmentConfig::get('CRM_REDIS_PORT')
		password: @environmentConfig::get('CRM_REDIS_PASSWORD')
		database: @environmentConfig::get('CRM_REDIS_DATABASE')

extensions:
	local_configs: Crm\ApplicationModule\Config\ConfigExtension
	translation: Kdyby\Translation\DI\TranslationExtension
	- Crm\ApplicationModule\DI\ApplicationModuleExtension
	- Crm\ApiModule\DI\ApiModuleExtension
	- Crm\AdminModule\DI\AdminModuleExtension
	- Crm\DashboardModule\DI\DashboardModuleExtension
	users: Crm\UsersModule\DI\UsersModuleExtension
	- Crm\SubscriptionsModule\DI\SubscriptionsModuleExtension
	- Crm\SegmentModule\DI\SegmentModuleExtension
	- Crm\PaymentsModule\DI\PaymentsModuleExtension
	- Crm\SalesFunnelModule\DI\SalesFunnelModuleExtension
	- Crm\InvoicesModule\DI\InvoicesModuleExtension
	- Crm\IssuesModule\DI\IssuesModuleExtension
	- Crm\PrintModule\DI\PrintModuleExtension
	- Crm\ProductsModule\DI\ProductsModuleExtension
	- Crm\UpgradesModule\DI\UpgradesModuleExtension
	- Crm\ScenariosModule\DI\ScenariosModuleExtension
	- Crm\OnboardingModule\DI\OnboardingModuleExtension
	- Crm\GiftsModule\DI\GiftsModuleExtension
	- Crm\StripeModule\DI\StripeModuleExtension

# parameters for extensions
users:
	countries:
		default: @environmentConfig::get('CRM_DEFAULT_COUNTRY_ISO')

translation:
	default: en_US
	fallback: [en_US, sk_SK, cs_CZ]
	whitelist: [en_US, sk_SK, cs_CZ]
	resolvers:
		session: no
		# english system locale (and Accept header) would enforce english language, see Kdyby\Translation\LocaleResolver\AcceptHeaderResolver
		header: no

php:
	date.timezone: Europe/Bratislava
	intl.error_level: 2 # E_WARNING

security:
	debugger: true

application:
	errorPresenter: Application:Error
	mapping:
		*: Crm\*Module\Presenters\*Presenter
	# TODO: we need to scan composer to properly register extensions
	scanComposer: yes

session:
	expiration: 14 days
	autoStart: smart

http:
	frames: yes

tracy:
	netteMailer: no

database:
	default:
		dsn: @environmentConfig::getDsn()
		user: @environmentConfig::get('CRM_DB_USER')
		password: @environmentConfig::get('CRM_DB_PASS')
		options:
			lazy: yes
