.avatar {
    border-radius: 50%
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.panel-title ul.date_switcher {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.panel-title ul.date_switcher li {
    display: inline;
}

div.ace_editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.table .list-group {
    margin-bottom: 0;
}

.table .list-group-item {
    padding: 5px 15px;
}

.table .list-group-item a, .table .list-group-item a:hover {
    color: #333;
}

.select2-container--default .select2-selection--single {
    height: 34px;
    border-color: #ccc;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
    padding-left: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}

select[readonly].select2 + .select2-container {
    pointer-events: none;
    touch-action: none;
}

select[readonly].select2 + .select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}

select[readonly].select2 + .select2-container .select2-selection__arrow,
select[readonly].select2 + .select2-container .select2-selection__clear {
    display: none;
}

.select2-results__option small {
    color: darkgrey;
    font-size: 0.8em;
}
